<% content_for(:title, "Edit #{@recipe.name} | Recipe Viewer") %>

<div class="row">
  <div class="large-12 columns">
    <h2>Edit recipe</h2>

    <form action="/recipes/<%= @recipe.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
      <%= render('form') %>
      <button class="button success">Update Recipe</button>
    </form>
  </div>
</div>
